@use '../../common/fonts/Orbitron.scss';
@use '../../common/fonts/SamsungSans.scss';

@use 'vars';

html {
	font-family: 'Samsung Sans', sans-serif;

	background-color: var(--background-grey);
}

input,
select,
textarea,
button {
	font: inherit;
	color: currentColor;
}

.fake-app {
	background-color: var(--app-background);

	grid-column: 2 / 3;

	display: grid;
	grid-template-rows: 3vmin 6vmin repeat(3, auto) 1fr;

	font-size: 2.3vmin;
}

.input-remove-input-visuals {
	border: none;
	background: none;
	outline: none;
	margin: 0;
	padding: 0;

	color: currentColor;

	display: flex;
	align-items: center;
	justify-content: center;
}

.invalid {
	color: var(--red);
}

.icon-interactive {
	cursor: pointer;
}
