name: Deploy to Github Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:

# Allow one concurrent deployment
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 24.13.0

      - name: Enable corepack
        run: corepack enable

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Type checking
        run: pnpm check

      - name: Check code style
        run: |
          pnpm fmt
          git --no-pager diff --exit-code

      - name: CI tests
        run: pnpm test

      - name: Build
        run: pnpm vite build

      - run: node scripts/postbuild.js

      - name: Upload build
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          name: build
          path: build

  upload:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: Download build
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: build
      - name: Write ssh key
        run: |
          mkdir --parents ~/.ssh
          chmod 700 ~/.ssh
          echo "$SSH_KEY" > ~/.ssh/ssh-key
          chmod 600 ~/.ssh/ssh-key
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}
      - name: Sync
        run: |
          # Trust host public key
          echo "${{ secrets.SSH_HOST }} ${{ secrets.SSH_HOST_KEY }}" >> ~/.ssh/known_hosts
          ssh-keygen -Hf ~/.ssh/known_hosts

          rsync --verbose --human-readable --archive \
            --checksum --delete \
            --rsh "ssh -i ~/.ssh/ssh-key" \
            . "${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:/var/www/lusc.ch/"
      - run: rm ~/.ssh/ssh-key
        if: always()
