name: Deploy to Github Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:

# Allow one concurrent deployment
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 24.11.1

      - name: Enable corepack
        run: corepack enable

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Type checking
        run: pnpm check

      - name: Check code style
        run: |
          pnpm fmt
          git --no-pager diff --exit-code

      - name: CI tests
        run: pnpm test

      - name: Build
        run: pnpm vite build

      - run: node scripts/postbuild.js

      - name: Upload build
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          name: build
          path: build

  upload:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: Download build
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: build
      - name: Write ssh key
        run: |
          mkdir --parents ~/.ssh
          chmod 700 ~/.ssh
          echo "$SSH_KEY" > ~/.ssh/ssh-key
          chmod 600 ~/.ssh/ssh-key
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}
      - name: Sync
        run: |
          rsync --verbose --human-readable --archive \
          --checksum --delete \
          --rsh "ssh -i ~/.ssh/ssh-key -o StrictHostKeyChecking=accept-new" \
          . "${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST}}:/var/www/lusc.ch/"
      - run: rm ~/.ssh/ssh-key
        if: always()
